<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <offline_payment_cash>
                <active>1</active>
                <model>Wm21w\OfflinePaymentCash\Model\OfflinePaymentCash</model>
                <order_status>pending</order_status>
                <title>Offline Payment Payment Cash</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </offline_payment_cash>
        </payment>
    </default>
</config>